.card{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    background-color: 0px 4px 8px rgba(0, 0, 0, 0.1)
}
body{
    background-color: #000;
}
.home{
    color: #fff;
}
.btns{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}