nav{
    display: flex;
    justify-content: end;
    align-items: end;
    gap:10px;
}
.App{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img{
    width: 100px;
    height: 100px;
    border-radius: 25px;
}